.parallax_back1 {
  height: 2000px;
  background: url("../dist/img/cave2.jpg");
  // background-image: url('http://placehold.it/500x500/336699');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.parallax_back2 {
  height: 2000px;
  background-image: url("../dist/img/cave1.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.parallax_back3{
  height: 2000px;
  background-image: url("../dist/img/cave3.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}

@media screen and (max-width: 768px) {
  .parallax_img {
    background-attachment: inherit;
  }
}
// Magic parallax mixins
$parallax-perspective: 1 !default;
$parallax-element: "body" !default;
$parallax-ios: true !default;
@mixin parallax-init(
  $perspective  : $parallax-perspective,
  $element      : $parallax-element,
  $parallax-ios : $parallax-ios
  ) {
  @if $element == "body" {
    html, body {
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
      overflow: hidden;
    }
  }
  #{$element} {
    overflow: auto;
    perspective: $perspective * 1px; //lower px the stronger the effect
    transform-style: preserve-3d;
    // Allows for smooth scrolling but disables parallax effects.
    @if $parallax-ios == false {
      -webkit-overflow-scrolling: touch;
    }
    // Preserve 3D
    &, * {
      transform-style: preserve-3d;
    }
  }
}

@mixin parallax(
  $distance    : 0,
  $perspective : $parallax-perspective
  ) {
  transform:
    translateZ($distance * $perspective * 1px)
    scale(abs($distance - 1))
  ;
  z-index: $distance * 1000;
}

// End of magic parallax mixins




@import url(https://fonts.googleapis.com/css?family=Roboto:100);
$primary: #1586D1;

@include parallax-init;

.parallax-torch{
  @include parallax(-2);
  background: url("../dist/img/torchIcon.png");
  top:200px;
  right:50px;
  max-width: 50px;
  margin: auto;
  position: absolute;
}

.parallax-container1{
  @include parallax(.1);
  top: 200px;
  left: 200px;
  max-width: 50%;
  padding: 20px;
  margin:auto;
  position: absolute;
  background-color: orange;
  color: black;
}

// .parallax-container {
//   :nth-child(1) {
//     @include parallax(-.4);
//     top: 200px;
//     left: 200px;
//     background-color: orange;
//     color: black;
//   }
//   padding: 20px;
//   max-width: 50%;
//   margin: auto;
//   position: absolute;
// }

body {
  font-family: Roboto, sans-serif;
  font-weight: 100;
  background: #EEF1F3;
  line-height: 1;
}

h1, h2 {
  font-weight: 100;
  margin: 0;
}

h1 {
  font-size: 5em;
  color: $primary;
}
h2 {
  font-size: 3em;
  @include parallax(.2);
}
