.parallax_img1 {
  height: 1000px;
  background: url("../dist/img/raceHeader.jpg");
  // background-image: url('http://placehold.it/500x500/336699');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
    position: relative;
}

.parallax_img2 {
  height: 1000px;
  background-image: url("../dist/img/parallax_start.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
    position: relative;
}

.parallax_img3{
  height: 1000px;
  background-image: url("../dist/img/parallax_engine.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
    position: relative;
}

.parallax_img4{
  height: 1000px;
  background-image: url("../dist/img/parallax_red.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
    position: relative;
}
.parallax_img5{
  height: 1000px;
  background-image: url("../dist/img/parallax_yellow.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
    position: relative;
}
.parallax_img6{
  height: 1000px;
  background-image: url("../dist/img/parallax_green.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
    position: relative;
}
.parallax_img7{
  height: 1500px;
  background-image: url("../dist/img/background_start.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  position: relative;
}

@media screen and (max-width: 768px) {
  .parallax_img {
    background-attachment: inherit;
  }
}
// Magic parallax mixins
$parallax-perspective: 1 !default;
$parallax-element: "body" !default;
$parallax-ios: true !default;
@mixin parallax-init(
  $perspective  : $parallax-perspective,
  $element      : $parallax-element,
  $parallax-ios : $parallax-ios
  ) {
  @if $element == "body" {
    html, body {
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
      overflow: hidden;
    }
  }
  #{$element} {
    overflow: auto;
    perspective: $perspective * 1px; //lower px the stronger the effect
    transform-style: preserve-3d;
    // Allows for smooth scrolling but disables parallax effects.
    @if $parallax-ios == false {
      -webkit-overflow-scrolling: touch;
    }
    // Preserve 3D
    &, * {
      transform-style: preserve-3d;
    }
  }
}

@mixin parallax(
  $distance    : 0,
  $perspective : $parallax-perspective
  ) {
  transform:
    translateZ($distance * $perspective * 1px)
    scale(abs($distance - 1))
  ;
  z-index: $distance * 1000;
}

// End of magic parallax mixins




@import url(https://fonts.googleapis.com/css?family=Roboto:100);
$primary: #1586D1;

@include parallax-init;


.textContainers{
  text-align: center;
}

.parallax-container {
  section:nth-child(1) {
    @include parallax(.1);
    top: 425px;
    left: 15%;
    width: 100px;
  }
  //nth-child lets you style individual elements within the container.
  section:nth-child(2) {
    @include parallax(.4);
    top: 300px;
    left: 35%;
  }
  section:nth-child(3) {
    @include parallax(.2);
    top: 385px;
    left: 55%;
  }
  section:nth-child(4) {
    @include parallax(.3);
    top: 340px;
    left: 75%;
  }
  background-color: $background-color;
  width: 100%;
  margin: auto;
  > * {
    position: absolute;
  }
}


h1, h2 {
  font-weight: 100;
  margin: 0;
}

h1 {
  font-size: 5em;
  color: $primary;
}
h2 {
  font-size: 3em;
  @include parallax(.2);
}
